.json-object-key {
  font-weight: bold;
  color: color('grey', 'darken-3');
  float: left;
  min-width: 6em;
  margin-right: .5em;

  &:after {
    content: ":";
  }
}

.json-object-value:after {
  content: "";
  display: block;
}

.json-object-value:after,
.json-object-value > .json-object,
.json-object-value > .json-array {
  clear: left;
}

.json-bool {
  &--true {
    color: color("green", "darken-2");
  }

  &--false {
    color: color("red", "darken-4");
  }
}

.json-number {
  color: color("light-blue", "darken-4");
}

.json-null {
  color: color('blue-grey', 'base');
}

.json-empty {
  color: color('grey', 'base');
  font-style: italic;
}

.p-color {
  padding: 0 .25em;
}
