nav {
  background: linear-gradient(to bottom, color('green', 'base'), color('green', 'lighten-1') 28%);
}

.brand-logo:focus,
.brand-logo:hover {
  outline: none;
  background: rgba(0,0,0,.1);
}

.icon, .icon > svg {
  vertical-align: middle;
}

#ctrl textarea {
  box-sizing: border-box;
  width: 100%;
  height: 75vh;
  min-height: 400px;
  font: inherit;
  margin: 1.5em auto;
  border: 1px solid #9e9e9e;
}

#stage {
  margin: 1.5em auto;
}

.faq dt {
  font-weight: bold;
}

::-webkit-input-placeholder {
     color: #a3a3a3;
}
::-moz-placeholder {
     color: #a3a3a3;
}
:-ms-input-placeholder {
     color: #a3a3a3;
}

@media (max-width: 992px) {
  /* revert some Materialize styles */
  nav, .nav-wrapper {
    height: auto;
  }
  nav .brand-logo {
    position: static;
    transform: none;
    padding-left: 15px;
  }
  nav ul.right {
    float: none !important;
  }
  nav ul.right:after {
    content: "";
    display: block;
    clear: left;
  }
}
