body {
  color: #222;
}

main {
  max-width: 40em;
  margin: 1.5em auto;
}

a {
  text-decoration: underline;
  color: #303f9f;
}

@import "../../jspm_packages/github/Dogfalo/materialize@0.97.5/sass/components/color";
$primary-color: color("green", "lighten-2");
$secondary-color: color("orange", "darken-1");
$roboto-font-path: "fonts/roboto/";

@import "../../jspm_packages/github/Dogfalo/materialize@0.97.5/sass/materialize";

@import "json";

@import "ui";
